<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Musuem Art</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <div class="container">
        <h1>Random Musuem Art</h1>
        <img width="800px" height="600" src="<%= imgURL %>" />
        <h2>Title: <%= title %></h2>
        <% if(artist) { %>
        <h3>Artist: <%= artist %></h3>
          <% } %>
        <h4>Medium: <%= medium %></h4>
        <% if(date) { %>
          <h4>Date: <%= date %></h4>
          <% } %>
       <% if(publicDomain){ %>
          <h5>Is this piece public domain: Yes</h5>
       <% } else { %>
          <h5>Is this piece public domain: No </h5>
       <% } %>
        <% if(wikiURL) { %>
        <a href="<%= wikiURL %>">Wiki Page</a>
        <% } %>
    </div>

    <hr />

    <div class="container">
      <button><a href="/">New Art</a></button>
    </div>
    
</body>

</html>