<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blig Blog</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <% if (locals.post && locals.post.id) { %>

        <div>
            <form action="/update/<%= post.id %>" method="POST">  
                <div>
                    <input type="text" name="title" placeholder="Title" value="<%= post.title %>">
                </div>
                <div>
                    <textarea name="content" placeholder="Content" rows="20"><%= post.content %></textarea>
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            </form>
        </div>

    <% } else { %>
    <div>
        <form action="/submit" method="POST">  
            <div>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div>
                <textarea name="content" placeholder="Content" rows="20"></textarea>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <% } %>
</body>

</html>
<%- include('partials/footer.ejs') %>